
  *{
    margin: 0px;
    box-sizing: border-box;
    /* height: 100vh; */
}

body{
  height: 100vh;
  width: 100%;
  padding: 1% 5%;;
}


.App {
  text-align: center;
}

#fixed-positioned-navbar{
  width: 100%;
  position: sticky;
}


